# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Entornos virtuales
venv/
.venv/
env/

# Variables de entorno y secretos
.env
.env.*
*.key
secrets.*
credentials.*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Archivos temporales
*.tmp
*.bak
*.old
